body {
    font-size: 25px;
}

#content {
    max-width: 45%;
    margin: 4% auto;
    padding: 5% 10%;
    border: 2px solid lightgray;
}


h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 1.1em;
    color: #006EB6;
    font-weight: lighter;
    margin-bottom: 10px;
    letter-spacing: .3ch;
}

hr {
    height: 2px;
    background-color: lightgray;
    border: none;
    margin-bottom: 70px;
}

p, li{
    line-height: 1.5em;
    margin: 30px 0;
}

.italic {
    font-style: italic;
}

#logo {
    text-align: center;
}

img {
    max-width: 30%;
    padding-top: 40px;
}